<app-layout>
    <div class="dash-body">
        <div class="favorites-all">
            <div class="favorites-header">
                <span>Favorites</span>
            </div>
            <div class="cards-section">
                <div class="cards-body">
                    <span class="span-city">Cabo Frio, Brasil</span>
                    <span class="span-beach">Foguete</span>
                </div>
                <div class="cards-body">
                    <span class="span-city">Cabo Frio, Brasil</span>
                    <span class="span-beach">Foguete</span>
                </div>
                <div class="cards-body">
                    <span class="span-city">Cabo Frio, Brasil</span>
                    <span class="span-beach">Foguete</span>
                </div>
            </div>
        </div>
        <div class="others-all">
            <div class="others-header">
                <span>Other Beaches</span>
            </div>
            <div class="cards-section">
                <div class="cards-body">
                    <span class="span-city">Rio de Janeiro, Brasil</span>
                    <span class="span-beach">Recreio</span>
                </div>
                <div class="cards-body">
                    <span class="span-city">Rio de Janeiro, Brasil</span>
                    <span class="span-beach">Recreio</span>
                </div>
                <div class="cards-body">
                    <span class="span-city">Rio de Janeiro, Brasil</span>
                    <span class="span-beach">Recreio</span>
                </div>
            </div>
        </div>
    </div>
</app-layout>