.info-local {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .local-name {
        display: flex;
        flex-direction: column;
        align-items: center;

        .span-city {
            font-size: 0.7rem;
            color: #b6b6b6;
        }
    }

    .image-info {}

    .temp-info {
        font-weight: bold;

        .span-temp {
            font-size: 2.5rem;
        }

        .span-scale {
            font-size: 1.5rem
        }
    }

    .others-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .others {
            display: flex;
            flex-direction: row;
            gap: 0.4rem;
        }
    }

    .cards-group {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .card-info {
            width: 5rem;
            height: 8rem;
            background-color: #1D1D33;
            padding: 0.5rem;
            border-radius: 0.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .card-info-img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}