<app-layout>
    <div class="panel-body">
        <div class="info-local">
            <div class="local-name">
                <span class="span-city">Cabo Frio, Brasil</span>
                <span class="span-beach">Foguete</span>
            </div>
            <div class="image-info">
                <img [src]="imageSunCloud" alt="img">
            </div>
            <div class="temp-info">
                <span class="span-temp">29</span>
                <span class="span-scale">&#8451;</span>
            </div>
            <div class="others-info">
                <div class="others">
                    <i class="bi bi-wind"></i>
                    <span>11Km/h</span>
                </div>
                <div class="others">
                    <i class="bi bi-tsunami"></i>
                    <span>1.5M</span>
                </div>
                <div class="others">
                    <i class="bi bi-brightness-high"></i>
                    <span>8h</span>
                </div>
            </div>
        </div>
        <div class="cards-group">
            <div class="card-info">
                <img [src]="imageWind" class="card-info-img" alt="...">
                <div class="text">
                    <p class="">Lest</p>
                </div>
            </div>
            <div class="card-info">
                <img [src]="imageMareAlta" class="card-info-img" alt="...">
                <div class="text">
                    <p class="">11 H</p>
                </div>
            </div>
            <div class="card-info">
                <img [src]="imageMareBaixa" class="card-info-img" alt="...">
                <div class="text">
                    <p class="">18 H</p>
                </div>
            </div>
        </div>
    </div>
</app-layout>